# api
api-rest-ts-node/node_modules
api-rest-ts-node/build
api-rest-ts-node/coverage
api-rest-ts-node/.env
api-rest-ts-node/.sqlite


# three
threejs/three01/node_modules
threejs/three01/.parcel-cache
threejs/three01/dist